{% extends "base.html" %}

{% load i18n %}
{% load l10n %}
{% load mptt_tags %}
{% load static %}

{% block title %}{% translate "Employees list" %}{% endblock %}

{% block content %}
    <div class="accordion m-1" id="accordion_{{ node.parent.id }}">
        {% recursetree object_list %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ node.id }}" aria-expanded="false" aria-controls="collapse_{{ node.id }}">
                        {{ node.name }}
                    </button>
                </h2>
                <div id="collapse_{{ node.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion_{{ node.parent.id }}">
                    <div class="accordion-body">
                        {% if not node.is_leaf_node %}
                            <div class="accordion m-1" id="accordion_{{ node.id }}">
                                {{ children }}
                            </div>
                        {% endif %}

                        <div class="accordion m-1" id="accordionEmployees_{{ node.id }}">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-type="employees" data-pk="{{ node.id }}" data-bs-target="#collapseEmployees_{{ node.id }}" aria-expanded="false" aria-controls="collapseEmployees_{{ node.id }}">
                                        {% translate "employees"|title %}
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseEmployees_{{ node.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionEmployees_{{ node.id }}">
                                <div class="accordion-body" id="employeesList_{{ node.id }}">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border m-5" role="status"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endrecursetree %}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/employees.js' %}"></script>
{% endblock %}